/* Reset +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{
    padding: 0px !important;
}
section{
    padding: 0px 20px;
}

/* Background animated +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{
    height: 100%;
    background: linear-gradient(120deg, #8509be, #ff7c0d);
    background-size: 400% 400%;
    animation: BackgroundAnimation 30s ease infinite;
}

@keyframes BackgroundAnimation{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

/* NavBar +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.navbar,.dropdown-menu{
    background: linear-gradient(120deg, #8509be, #ff7c0d);
    background-size: 400% 400%;
    animation: BackgroundAnimation 30s ease infinite;
}

.dropdown-item{
    color: white;
}

/* Welcome ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.welcome{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
  
/* ChatBox ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.chatBox{
    margin-bottom: 20px;
    height: 500px;
}

.card{
    background-color: rgba(255, 255, 255, 0.9);
}

.card .navbar-brand{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card .navbar-brand p{
    margin-left: 12px;
    font-size: 1.25em;
    color:#8509be;
    font-family: 'Skranji', cursive;
}

.chatBox .card-header,.modal-header{
    background: linear-gradient(120deg, #00e1ff, #b4ff0d);
    background-size: 400% 400%;
    animation: BackgroundAnimation 30s ease infinite;
}

.cardComment{
    margin: 30px 0;
}

.scroll{
    overflow-y: scroll;
}

/* Forms Inscription +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#inscriptionForm{
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

#checkBot{
    text-align: center;
}

.btn-validation{
    margin-top: 20px;
}

label,small{
    padding-left: 10px;
}

/* Invitation Card +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.invit{
    margin-right: 20px;
}

.invitCard{
    margin-bottom: 20px;
}

.invitCardText{
    margin-left: 12px;
    font-size: 1.25em;
    color:#8509be;
    font-family: 'Skranji', cursive;
}

/* Footer ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
footer .card-body{
    background: linear-gradient(120deg, #00e1ff, #b4ff0d);
    background-size: 400% 400%;
    animation: BackgroundAnimation 30s ease infinite;
}

/* Error  and Validate +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.error{
    background-color: black;
    color: red;
}

.validate{
    background-color: #7bff00;
    color: white;
}
